Test the reading in and writing of data using the function ulf_database.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
# import the module
import os
import pandas as pd
import numpy as np

from ulf_pow import io

ModuleNotFoundError: No module named 'ulf_pow'

In [13]:
#reading in of summed data 
sum_psd = io.ulf_database(site=['gill','and'],sdate='2012-01-01',psd_f='test_gill_sum.h5')

Returning sum_psd:
['gill', 'and']
GILL 2012
Returning sum_psd:
['gill', 'and']
AND 2012

In [14]:
sum_psd.head()
sum_psd.tail()

                         ipsd    lshell    mlt       spsd  stn
t
2012-01-01 00:00:00  1.185930  6.363394  1.421  16.800675  AND
2012-01-01 01:00:00  0.330650  6.363394  2.421   4.684214  AND
2012-01-01 02:00:00  0.351675  6.363394  3.421   4.982060  AND
2012-01-01 03:00:00  0.094214  6.363394  4.421   1.334703  AND
2012-01-01 04:00:00  0.380000  6.363394  5.421   5.383331  AND

                         ipsd    lshell     mlt       spsd  stn
t
2012-01-01 19:00:00  0.180638  6.363394  20.421   2.559034  AND
2012-01-01 20:00:00  0.519548  6.363394  21.421   7.360270  AND
2012-01-01 21:00:00  1.981237  6.363394  22.421  28.067529  AND
2012-01-01 22:00:00  3.823952  6.363394  23.421  54.172657  AND
2012-01-01 23:00:00  1.013540  6.363394   0.421  14.358486  AND

In [15]:
#reading in spectral data
spec_psd = io.ulf_database(site=['gill','and'],sdate='2012-01-01',psd_f='test_gill_spec.h5', db_type='spec')

Returning get_spec:
['gill', 'and']
GILL 2012
Returning get_spec:
['gill', 'and']
AND 2012

In [16]:
spec_psd.head()

,3,4,5,6,7,8,9,10,11,12,...,48,49,50,51,52,53,54,stn,f res mHz,mlt
t,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00,0.855425,5.926539,5.149199,1.124706,0.533799,0.706653,0.345175,0.635267,0.139967,0.074420,...,0.005754,0.017624,0.011041,0.001259,0.001184,0.002396,0.000469,AND,0.277778,1.421
2012-01-01 01:00:00,3.494867,0.650431,0.081441,0.131585,0.027400,0.068312,0.099596,0.012936,0.001174,0.012641,...,0.000031,0.000028,0.000265,0.000285,0.000471,0.000513,0.000667,AND,0.277778,2.421
2012-01-01 02:00:00,3.522866,0.876598,0.092247,0.049452,0.029612,0.137927,0.072453,0.036357,0.005601,0.006507,...,0.000553,0.003394,0.003830,0.002656,0.004466,0.001481,0.000112,AND,0.277778,3.421
2012-01-01 03:00:00,0.289687,0.596107,0.028019,0.049714,0.058403,0.067193,0.017513,0.019948,0.036466,0.033301,...,0.005657,0.000077,0.003523,0.001336,0.000009,0.000312,0.000628,AND,0.277778,4.421
2012-01-01 04:00:00,1.207166,1.345194,0.091846,1.044349,0.501679,0.050101,0.143814,0.369823,0.252938,0.145176,...,0.001042,0.000914,0.003277,0.007261,0.006648,0.000684,0.007708,AND,0.277778,5.421

Read the data in to make sure everything worked.

In [21]:
#read the summed hdf5 file
sum_r = pd.read_hdf(os.path.join("D:\\data\\magnetometer\\psd\\",'test_gill_sum.h5'))
sum_r.head()

                         ipsd    lshell        mlt       spsd   stn
t
2012-01-01 00:00:00  0.149093  5.970894  17.056329   2.112148  GILL
2012-01-01 01:00:00  0.350938  5.970894  18.056329   4.971628  GILL
2012-01-01 02:00:00  0.153093  5.970894  19.056329   2.168820  GILL
2012-01-01 03:00:00  0.316592  5.970894  20.056329   4.485049  GILL
2012-01-01 04:00:00  3.247547  5.970894  21.056329  46.006920  GILL

In [36]:
#read the spectral hdf5 file
spec_r = pd.read_hdf(os.path.join("D:\\data\\magnetometer\\psd\\",'test_gill_spec.h5'))

# create a frequency axis
f_ax = np.array(spec_r.columns[0:-3], dtype=float)*spec_r.iloc[0,-2]

,3,4,5,6,7,8,9,10,11,12,...,48,49,50,51,52,53,54,stn,f res mHz,mlt
t,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00,0.309776,0.501901,0.540743,0.066974,0.050736,0.022221,0.004930,0.022341,0.132903,0.122538,...,0.000030,0.000315,0.000308,0.000324,0.000357,0.000107,2.851688e-05,GILL,0.277778,17.056329
2012-01-01 01:00:00,0.838583,0.602836,0.118122,0.203643,1.164323,0.824626,0.064945,0.155042,0.132384,0.143314,...,0.000212,0.000255,0.001271,0.000915,0.000230,0.000025,1.336793e-04,GILL,0.277778,18.056329
2012-01-01 02:00:00,0.298427,0.004335,0.107301,0.459039,0.554159,0.026423,0.094904,0.038930,0.004286,0.011067,...,0.000861,0.000028,0.000631,0.000941,0.000110,0.000584,2.966717e-04,GILL,0.277778,19.056329
2012-01-01 03:00:00,2.672217,1.104409,0.239827,0.103841,0.083605,0.082806,0.028419,0.065247,0.030414,0.026847,...,0.000104,0.000164,0.000298,0.000229,0.000119,0.000046,7.082481e-07,GILL,0.277778,20.056329
2012-01-01 04:00:00,18.185590,14.150130,7.106645,1.213729,1.627588,1.905525,0.262535,0.344464,0.305522,0.093382,...,0.000238,0.000503,0.000564,0.001394,0.001369,0.000035,4.530843e-05,GILL,0.277778,21.056329

In [37]:
spec_r.head()
f_ax

array([ 0.8333331,  1.1111108,  1.3888885,  1.6666662,  1.9444439,
        2.2222216,  2.4999993,  2.777777 ,  3.0555547,  3.3333324,
        3.6111101,  3.8888878,  4.1666655,  4.4444432,  4.7222209,
        4.9999986,  5.2777763,  5.555554 ,  5.8333317,  6.1111094,
        6.3888871,  6.6666648,  6.9444425,  7.2222202,  7.4999979,
        7.7777756,  8.0555533,  8.333331 ,  8.6111087,  8.8888864,
        9.1666641,  9.4444418,  9.7222195,  9.9999972, 10.2777749,
       10.5555526, 10.8333303, 11.111108 , 11.3888857, 11.6666634,
       11.9444411, 12.2222188, 12.4999965, 12.7777742, 13.0555519,
       13.3333296, 13.6111073, 13.888885 , 14.1666627, 14.4444404,
       14.7222181, 14.9999958])